{% extends "core/base.html" %}

{% load static %}

{% block title %} Escaparate {% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock header %}

{% block description %}

  <h2>¿Dónde te gustaría viajar?</h2>
  <div id="header">
     <a href="#modal">
      <img 
        src="{% static "images/shopping_cart.png" %}"
        width="30"
        height="30"
        style="margin-left:800px"
      >
     </a>
    </div>
     <section id="modal" class="modal">
      <div class="modal__container">
        <h2>Resumen de tu compra</h2>
        <div class="modal_columns">
          <div class="modal_column">
            <h3>Destino</h3>
            <h4>Sevilla</h4>
            <h4>Barcelona</h4>
            <h4>Madrid</h4>            
          </div>
          <div class="modal_column">
            <h3>Precio</h3>
            <h4>100€</h4>
            <h4>200€</h4>
            <h4>300€</h4>
          </div> 
          <div class="modal_column">
            <h3>Unidades</h3>
            <h4>1</h4>
            <h4>2</h4>
            <h4>4</h4>
          </div> 
        </div>
        <h5 class="modal_total">Total: 1700€</h5>
        <a href="#header" class="modal_close">Seguir navegado</a>
      </div>
        
     </section>



{% endblock description %}

{% block content %}
  <article>
    <div class="index-div-first-section-header">
      <h3>¿Quienes somos?</h3>
    </div>
    <section class="index-section-description">
      <p>
        En <strong>RouteJet</strong>, nos dedicamos a hacer realidad tus viajes soñados. Con una pasión por la excelencia y la satisfacción del cliente, ofrecemos rutas exclusivas y experiencias inolvidables
      </p>
      <img 
        src="{% static "images/mundo.jpeg" %}" 
        alt="Imagen de los monumentos mas importantes"
        width="500"
        height="250"
      >
    </section>
    <h3 class="index-div-second-section-header">Destinos destacados:</h3>
    <section class="index-section-images">
      <div>
        <h4>Sevilla</h4>
        <img 
          src="{% static "images/sevilla.jpeg" %}" 
          alt="Image de Sevilla"
          width="400"
          height="200"
        >
      </div>
      <div>
        <h4>Barcelona</h4>
        <img 
          src="{% static "images/barcelona.jpeg" %}" 
          alt="Image de Barcelona"
          width="400"
          height="200"
        >
      </div>
      <div>
        <h4>Madrid</h4>
        <img 
          src="{% static "images/madrid.jpeg" %}" 
          alt="Image de Madrid"
          width="400"
          height="200"
        >
      </div>
    </section>
  </article>
{% endblock content %}