{% extends "core/base.html" %}

{% load static %}

{% block title %} Inicia Sesión {% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock header %}

{% block content %}
  <div class="login-container">
    <div class="login-form">
      <div class="login-logo">
        <i class="fas fa-crow me-2" style="color: #007bff;"></i> RouteJet
      </div>

      <form method="post" action="{% url 'core:login' %}">
        {% csrf_token %}
        <h3 class="fw-normal mb-3">Iniciar Sesión</h3>

        <div class="mb-4">
          <label for="form2Example18" class="form-label">Nombre de usuario</label>
          <input type="text" name="username" id="form2Example18" class="form-control" />
        </div>

        <div class="mb-4">
          <label for="form2Example28" class="form-label">Contraseña</label>
          <input type="password" name="password" id="form2Example28" class="form-control" />
        </div>

        <div class="mb-4">
          <button class="btn btn-info btn-lg btn-block login-btn" type="submit">Enviar</button>
        </div>

        <p>No tienes una cuenta todavía? <a href="{% url 'core:signup' %}" class="link-info">Regístrate aquí</a></p>
      </form>
    </div>
  </div>
{% endblock content %}
