{% extends "core/base.html" %}

{% load static %}

{% block title %} Regístrate {% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock header %}

{% block content %}
  <section class="vh-100">
    <div class="container">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card">
            <div class="card-body p-6">
            <form method="post" action=".">
                {% csrf_token %}
              <h3 class="text-uppercase text-center mb-5">Regístrate</h3>

              <div class="mb-4">
                <label for="form2Example18" class="form-label">Nombre de usuario</label>
                <input type="text" name="username" id="form2Example18" class="form-control" />
              </div>
                <div class="mb-4">
                <label for="form2Example28" class="form-label">Correo electrónico</label>
                <input type="email" name="email" id="form2Example28" class="form-control" />
              </div>

              <div class="mb-4">
                <label for="form2Example28" class="form-label">Contraseña</label>
                <input type="password" name="password" id="form2Example28" class="form-control" />
              </div>
              <div class="mb-4">
                <label for="form2Example28" class="form-label">Confirmación de Contraseña</label>
                <input type="password" name="password" id="form2Example28" class="form-control" />
              </div>
                    
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-custom btn-lg text-body">Registrarse</button>
                </div>
              </form>

              <p class="text-center text-muted mt-3">¿Ya tienes una cuenta? <a href="{% url 'core:login' %}" class="fw-bold text-body"><u>Inicia sesión aquí</u></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
