{% extends "core/base.html" %}

{% block title %} Carrito {% endblock title %}

{% block description %}Tu carrito de compra{% endblock description %}

{% block content %}

  {% if cart.len == 0 %}
    <h1>El carro esta vacío</h1>
  {% else %}
  <table class="cart-table-cart">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio producto</th>
        <th>Precio total</th>
        <th>Eliminar</th>
        <th>Agregar</th>
      </tr>
    </thead>
  </table>
  <tbody>
    {% for item in cart %}
      {% with product=item.product %}
        <tr>
          <td>
            <img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="Image del viaje">
          </td>
          <td> {{ product.name }} </td>
          <td> {{ item.quantity }} </td>
          <td> {{ product.price }}</td>
          <td> {{ item.total_price }}</td>
          <td>
            <form action="{% url "store:cart_remove" product.id %}" method="post">
              <input type="submit" value="Eliminar">
              {% csrf_token %}
            </form>
          </td>
          <td>
            {% if error.err %}
              <p>{{ error.msg }}</p> 
            {% endif %}
            <form action="{% url "store:cart_add" product.id %}?origin=cart" method="post">
              {% csrf_token %}
              <input type="hidden" name="quantity" value="1">
              <button type="submit">Añade</button>
            </form>
          </td>
        </tr> 
      {% endwith %}
    {% endfor %}
    <tr class="cart-tr-total">
      <td>Total</td>
      <td colspan="4"></td>
      <td>{{ cart.get_total_price }}</td>
    </tr>
  </tbody>

  {% endif %}

  <p>
    <a href="{% url "store:product_list" %}">
      <button type="button" class="btn btn-success" style="margin-top:100px">Seguir comprando</button>
    </a>
    <a href="{% url "store:order_create" %}" >
      <button type="button" class="btn btn-success" style="margin-top:100px">Finalizar compras</button>
    </a>
  </p>
{% endblock content %}

  

