{% extends 'core/base.html' %}

{% block content %}
    <h2>Resultados de la búsqueda</h2>
    <p>Mostrando resultados para: "{{ query }}"</p>

    {% if results %}
        <ul>
            {% for pedido in results %}
                <li>
                    <strong>{{ pedido.email }}</strong><br>
                    <!-- Agrega más campos según sea necesario -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}