{% extends "core/base.html" %}

{% load static %}

{% block title %} Pedido {% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock header %}

{% block description %}
  <h2>Proceso de compra</h2>
{% endblock description %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="p-3">
          <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Realizar pedido</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3">
          <h3>Tu pedido:</h3>
          <div class="list-group">
            {% for item in cart %}
              <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ item.product.city }}, {{ item.product.country }}</h5>
                  <small>{{ item.product.start_date }}/{{ item.product.end_date }}</small>
                </div>
                <p class="mb-1">{{ item.price }}€ x {{ item.quantity }}</p>
              </div>
            {% endfor %}
          </div>
          <p class="mt-3">Total: {{ cart.get_total_price }}€</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
