{% extends "core/base.html" %}

{% load static %}  {# Make sure this line is present at the top of your template #}

{% block title %} Resultados de la búsqueda {% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static "store/css/product_list.css" %}">
{% endblock header %}

{% block description %}Resultados de la búsqueda para: "{{ query }}"{% endblock description %}

{% block content %}
  <article class="product_list-article-main">
    <section class="product_list-section-products">
      {% if results %}
        {% for producto in results %}
          <div class="item">
            <div class="container">
              <div class="image">
                <a href="{{ producto.get_absolute_url }}">
                  <img class="product-image" src="{% if producto.image %}{{ producto.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" style="width: 350px; height: 200px;">
                </a>
              </div>
              <div class="city">
                <a href="{{ producto.get_absolute_url }}">
                  <strong>{{ producto.city }}, {{ producto.country }}</strong>
                </a>
              </div>
              <div class="description">
                <span style="font-size: 23px">Descripción del viaje:</span>
                <span><br>{{ producto.description }}</span>
              </div>
              <div class="price">
                <span>Precio del viaje ($):</span>
                <span style="font-weight: bold">${{ producto.price }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No se encontraron resultados.</p>
      {% endif %}
    </section>
  </article>
{% endblock %}
