{% extends "core/base.html" %}

{% load static %}

{% block title %} Catalogo {% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static "store/css/product_list.css" %}">
{% endblock header %}

{% block description %}Catalogo de viajes{% endblock description %}

{% block content %}
  <article class="product_list-article-main">
    <section class="product_list-section-categories">
      <h3>Categorias</h3>
      <ul>
        <li {% if not category %} class="selected" {% endif %}>
          <a href="{% url "store:product_list" %}"> All </a>
        </li>
        {% for c in categories %}
          <li {% if category.slug == c.slug %} class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.country }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="product_list-section-products">
      {% for product in products %}
        <div class="item">
            {% comment %} <div class="unavailable-city">
                {% if not product.available %}
                <a href="{{ product.get_absolute_url }}" class="unavailable-city">{{ product.city }}</a>
                {% endif %}
            </div> {% endcomment %}
            <div class="container">
              <div class="image">
                  <a href="{{ product.get_absolute_url }}">
                      <img class="product-image" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" style="width: 350px; height: 200px;">

                  </a>
              </div>
              <div class="city">
                  {% if product.available %}
                    <a href="{{ product.get_absolute_url }}">{{ product.city }}</a>
                  {% endif %}
              </div>
              <div class="description">
                  <span style="font-size: 23px">Descripción del viaje :</span>
                  <span><br>{{ product.description }}</span>
              </div>
              <div class="price">
                  <span>Precio del viaje ($) :</span>
                  <span style="font-weight: bold">${{ product.price }}</span>
              </div>
            </div>
        </div>
      {% endfor %}
    </section>
  </article>
{% endblock %}
