{% extends "core/base.html" %}

{% load static %}

{% block title %} Ficha Producto {% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static "css/detail.css" %}">

{% endblock header %}

{% block description %} {{ product.name }} {% endblock description %}

{% block content %}
  <article class="detail-article-main">
      <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
      <section>
        <h1>
          <a href="{{ product.category.get_absolute_url }}">
            Pais {{ product.category }}
          </a>
        </h1>
        <h2>Ciudad: {{ product.city }}</h2>
        <p class="price">Precio: {{ product.price }}€</p>
        <p>Numero de tickets: {{ product.num_products }}</p>
        {{ product.description|linebreaks }}
      </section>
  </article>
  <nav class="detail-nav-submit">
    <form action="{% url "store:cart_add" product_id=product.id %}?origin=detail" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if form.errors %}
        <div>
          {% comment %} <p>Errores: </p>
          <ul>
            {% for error in form.errors %}
              <li>{{ error }}</li> 
            {% endfor %}
          </ul> {% endcomment %}
        </div>   
      {% endif %}
      <button type="submit">Añadir al carrito</button>
    </form>
    <form action="{% url "store:order_create_without_cart" product.id %}" method="get">
      <label for="quantity">Cantidad: </label>
      <input type="number" name="quantity" id="quantity">
      <button type="submit">Compra ahora</button>
    </form>
  </nav>

  <a class = "btn btn-outline-success" href =" {{product.get_absolute_url2}} "> Opina </a>

{% endblock content %}
